[Unit]
Description=Tehome
Requires=homebridge.service

[Service]
Environment="LD_LIBRARY_PATH=/home/jamie/.local/lib"
ExecStart=python -um tehome
SyslogIdentifier=tehome
Restart=on-failure

[Install]
WantedBy=default.target
